doctype html
html(lang="fr")

  head
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")/
    title SQL widget
    script(src="https://docs.getgrist.com/grist-plugin-api.js")

    style.
      #query {width:95vw; height:30vh}

  body
    label Key
      input#key
    br/
    label Query (Ctrl+Enter to validate)
      textarea#query
    #csv
      form(onsubmit="download('res.csv', this['csv'].value)")
        input.csv(type="hidden" name="csv")
        input(type="submit" value="Télécharger")
    #reply
      .firstChild

  script.
    function createObject(params){
      return new Object(params);
    }
  script(type="module" src="index.py")
